USE [VirtualCollege]
GO
/****** Object:  Table [dbo].[Addresses]    Script Date: 12/6/2020 11:12:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Addresses](
	[AddressId] [int] IDENTITY(1,1) NOT NULL,
	[AddressLine1] [nvarchar](max) NOT NULL,
	[AddressLine2] [nvarchar](max) NULL,
	[Postcode] [nvarchar](max) NOT NULL,
	[City] [nvarchar](max) NOT NULL,
	[State] [nvarchar](max) NULL,
	[Country] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Addresses] PRIMARY KEY CLUSTERED 
(
	[AddressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 12/6/2020 11:12:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[CourseId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Credits] [decimal](18, 2) NOT NULL,
	[ReferentTeacherId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Courses] PRIMARY KEY CLUSTERED 
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Grades]    Script Date: 12/6/2020 11:12:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grades](
	[GradeId] [int] IDENTITY(1,1) NOT NULL,
	[ExamName] [nvarchar](max) NOT NULL,
	[Mark] [decimal](18, 2) NOT NULL,
	[Coefficient] [decimal](18, 2) NOT NULL,
	[CourseId] [int] NULL,
	[StudentId] [int] NULL,
 CONSTRAINT [PK_dbo.Grades] PRIMARY KEY CLUSTERED 
(
	[GradeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lessons]    Script Date: 12/6/2020 11:12:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lessons](
	[LessonId] [int] IDENTITY(1,1) NOT NULL,
	[RoomName] [nvarchar](max) NOT NULL,
	[Day] [nvarchar](max) NOT NULL,
	[Hour] [nvarchar](max) NOT NULL,
	[Duration] [nvarchar](max) NOT NULL,
	[CourseId] [int] NULL,
	[TeacherId] [int] NULL,
 CONSTRAINT [PK_dbo.Lessons] PRIMARY KEY CLUSTERED 
(
	[LessonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 12/6/2020 11:12:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentId] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[StudentId] [int] NULL,
 CONSTRAINT [PK_dbo.Payments] PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PresentStudentLessons]    Script Date: 12/6/2020 11:12:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PresentStudentLessons](
	[LessonId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.PresentStudentLessons] PRIMARY KEY CLUSTERED 
(
	[LessonId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentLessons]    Script Date: 12/6/2020 11:12:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentLessons](
	[LessonId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.StudentLessons] PRIMARY KEY CLUSTERED 
(
	[LessonId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeacherCourses]    Script Date: 12/6/2020 11:12:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeacherCourses](
	[CourseId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.TeacherCourses] PRIMARY KEY CLUSTERED 
(
	[CourseId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12/6/2020 11:12:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[Gender] [nvarchar](max) NOT NULL,
	[EmailAddress] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[BirthDate] [date] NOT NULL,
	[AddressId] [int] NULL,
	[Fees] [decimal](18, 2) NULL,
	[Paid] [decimal](18, 2) NULL,
	[TutorId] [int] NULL,
	[Discriminator] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Addresses] ON 

INSERT [dbo].[Addresses] ([AddressId], [AddressLine1], [AddressLine2], [Postcode], [City], [State], [Country]) VALUES (1, N'31 bvd Troussel', N'Building A, M08', N'78700', N'Conflans', N'Yvelines', N'France')
INSERT [dbo].[Addresses] ([AddressId], [AddressLine1], [AddressLine2], [Postcode], [City], [State], [Country]) VALUES (2, N'406-538 Facilisi. Ave', NULL, N'19076', N'Chalon-sur-Saône', N'Bourgogne', N'France')
INSERT [dbo].[Addresses] ([AddressId], [AddressLine1], [AddressLine2], [Postcode], [City], [State], [Country]) VALUES (3, N'7785 Tempor Ave', NULL, N'18995', N'Ajaccio', N'Corse', N'France')
SET IDENTITY_INSERT [dbo].[Addresses] OFF
GO
SET IDENTITY_INSERT [dbo].[Courses] ON 

INSERT [dbo].[Courses] ([CourseId], [Title], [Credits], [ReferentTeacherId]) VALUES (1, N'Mathematics', CAST(30.00 AS Decimal(18, 2)), 7)
INSERT [dbo].[Courses] ([CourseId], [Title], [Credits], [ReferentTeacherId]) VALUES (2, N'Mecatronnics', CAST(15.00 AS Decimal(18, 2)), 5)
INSERT [dbo].[Courses] ([CourseId], [Title], [Credits], [ReferentTeacherId]) VALUES (3, N'Electricity', CAST(30.00 AS Decimal(18, 2)), 6)
SET IDENTITY_INSERT [dbo].[Courses] OFF
GO
SET IDENTITY_INSERT [dbo].[Grades] ON 

INSERT [dbo].[Grades] ([GradeId], [ExamName], [Mark], [Coefficient], [CourseId], [StudentId]) VALUES (1, N'Test 1', CAST(60.00 AS Decimal(18, 2)), CAST(1.00 AS Decimal(18, 2)), 1, 4)
INSERT [dbo].[Grades] ([GradeId], [ExamName], [Mark], [Coefficient], [CourseId], [StudentId]) VALUES (2, N'Online quizz #1', CAST(92.75 AS Decimal(18, 2)), CAST(2.00 AS Decimal(18, 2)), 2, 2)
INSERT [dbo].[Grades] ([GradeId], [ExamName], [Mark], [Coefficient], [CourseId], [StudentId]) VALUES (3, N'Online quizz #1', CAST(14.25 AS Decimal(18, 2)), CAST(2.00 AS Decimal(18, 2)), 2, 1)
SET IDENTITY_INSERT [dbo].[Grades] OFF
GO
SET IDENTITY_INSERT [dbo].[Lessons] ON 

INSERT [dbo].[Lessons] ([LessonId], [RoomName], [Day], [Hour], [Duration], [CourseId], [TeacherId]) VALUES (1, N'L309', N'Tuesday', N'08:15', N'03:00', 3, 6)
INSERT [dbo].[Lessons] ([LessonId], [RoomName], [Day], [Hour], [Duration], [CourseId], [TeacherId]) VALUES (2, N'E256', N'Friday', N'16:30', N'02:30', 1, 7)
INSERT [dbo].[Lessons] ([LessonId], [RoomName], [Day], [Hour], [Duration], [CourseId], [TeacherId]) VALUES (3, N'E356', N'Tuesday', N'12:45', N'03:00', 3, 12)
SET IDENTITY_INSERT [dbo].[Lessons] OFF
GO
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([PaymentId], [Date], [Amount], [StudentId]) VALUES (1, CAST(N'2020-12-06T15:17:36.717' AS DateTime), CAST(1100.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[Payments] ([PaymentId], [Date], [Amount], [StudentId]) VALUES (2, CAST(N'2020-12-06T23:06:43.130' AS DateTime), CAST(3000.00 AS Decimal(18, 2)), 2)
INSERT [dbo].[Payments] ([PaymentId], [Date], [Amount], [StudentId]) VALUES (3, CAST(N'2020-12-06T23:07:02.783' AS DateTime), CAST(600.00 AS Decimal(18, 2)), 3)
SET IDENTITY_INSERT [dbo].[Payments] OFF
GO
INSERT [dbo].[StudentLessons] ([LessonId], [UserId]) VALUES (2, 1)
INSERT [dbo].[StudentLessons] ([LessonId], [UserId]) VALUES (3, 1)
INSERT [dbo].[StudentLessons] ([LessonId], [UserId]) VALUES (4, 1)
GO
INSERT [dbo].[TeacherCourses] ([CourseId], [UserId]) VALUES (1, 5)
INSERT [dbo].[TeacherCourses] ([CourseId], [UserId]) VALUES (2, 5)
INSERT [dbo].[TeacherCourses] ([CourseId], [UserId]) VALUES (1, 6)
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [FirstName], [LastName], [Gender], [EmailAddress], [Password], [PhoneNumber], [BirthDate], [AddressId], [Fees], [Paid], [TutorId], [Discriminator]) VALUES (1, N'Maxime', N'Dennery', N'Male', N'2', N'2', N'06 62 63 02 86', CAST(N'2000-03-06' AS Date), 1, CAST(9700.00 AS Decimal(18, 2)), CAST(1100.00 AS Decimal(18, 2)), 11, N'Student')
INSERT [dbo].[Users] ([UserId], [FirstName], [LastName], [Gender], [EmailAddress], [Password], [PhoneNumber], [BirthDate], [AddressId], [Fees], [Paid], [TutorId], [Discriminator]) VALUES (2, N'Christophe', N'Nguyen', N'Male', N'chri.ngu@edu.devinci.fr', N'chocolate123', NULL, CAST(N'2000-12-10' AS Date), 6, CAST(4600.00 AS Decimal(18, 2)), CAST(3000.00 AS Decimal(18, 2)), 16, N'Student')
INSERT [dbo].[Users] ([UserId], [FirstName], [LastName], [Gender], [EmailAddress], [Password], [PhoneNumber], [BirthDate], [AddressId], [Fees], [Paid], [TutorId], [Discriminator]) VALUES (3, N'Gwendoline', N'Marek', N'Female', N'gwen.marek@edu.devinci.fr', N'ABC123', NULL, CAST(N'2000-01-05' AS Date), 3, CAST(11900.00 AS Decimal(18, 2)), CAST(600.00 AS Decimal(18, 2)), 18, N'Student')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Courses_dbo.Users_ReferentTeacherId] FOREIGN KEY([ReferentTeacherId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Courses] CHECK CONSTRAINT [FK_dbo.Courses_dbo.Users_ReferentTeacherId]
GO
ALTER TABLE [dbo].[Grades]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Grades_dbo.Courses_CourseId] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([CourseId])
GO
ALTER TABLE [dbo].[Grades] CHECK CONSTRAINT [FK_dbo.Grades_dbo.Courses_CourseId]
GO
ALTER TABLE [dbo].[Grades]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Grades_dbo.Users_StudentId] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Grades] CHECK CONSTRAINT [FK_dbo.Grades_dbo.Users_StudentId]
GO
ALTER TABLE [dbo].[Lessons]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Lessons_dbo.Courses_CourseId] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([CourseId])
GO
ALTER TABLE [dbo].[Lessons] CHECK CONSTRAINT [FK_dbo.Lessons_dbo.Courses_CourseId]
GO
ALTER TABLE [dbo].[Lessons]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Lessons_dbo.Users_TeacherId] FOREIGN KEY([TeacherId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Lessons] CHECK CONSTRAINT [FK_dbo.Lessons_dbo.Users_TeacherId]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Payments_dbo.Users_StudentId] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_dbo.Payments_dbo.Users_StudentId]
GO
ALTER TABLE [dbo].[PresentStudentLessons]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PresentStudentLessons_dbo.Lessons_LessonId] FOREIGN KEY([LessonId])
REFERENCES [dbo].[Lessons] ([LessonId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PresentStudentLessons] CHECK CONSTRAINT [FK_dbo.PresentStudentLessons_dbo.Lessons_LessonId]
GO
ALTER TABLE [dbo].[PresentStudentLessons]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PresentStudentLessons_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PresentStudentLessons] CHECK CONSTRAINT [FK_dbo.PresentStudentLessons_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[StudentLessons]  WITH CHECK ADD  CONSTRAINT [FK_dbo.StudentLessons_dbo.Lessons_LessonId] FOREIGN KEY([LessonId])
REFERENCES [dbo].[Lessons] ([LessonId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StudentLessons] CHECK CONSTRAINT [FK_dbo.StudentLessons_dbo.Lessons_LessonId]
GO
ALTER TABLE [dbo].[StudentLessons]  WITH CHECK ADD  CONSTRAINT [FK_dbo.StudentLessons_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StudentLessons] CHECK CONSTRAINT [FK_dbo.StudentLessons_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[TeacherCourses]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TeacherCourses_dbo.Courses_CourseId] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([CourseId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TeacherCourses] CHECK CONSTRAINT [FK_dbo.TeacherCourses_dbo.Courses_CourseId]
GO
ALTER TABLE [dbo].[TeacherCourses]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TeacherCourses_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TeacherCourses] CHECK CONSTRAINT [FK_dbo.TeacherCourses_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Users_dbo.Addresses_AddressId] FOREIGN KEY([AddressId])
REFERENCES [dbo].[Addresses] ([AddressId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_dbo.Users_dbo.Addresses_AddressId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Users_dbo.Users_TutorId] FOREIGN KEY([TutorId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_dbo.Users_dbo.Users_TutorId]
GO
